$item-bcg-color: #031E26;
$alert-color: #DB504A;
$info-color: #E3B505;
$main-bcg: #CEDADF;
$secondary-bcg: #7798A6;
$main-btn-color: #F3F6F7;
$secondary-btn-color: #6BB0B3;
$green-btn-color: #4adb4a;