@font-face {
  font-family: 'MPLUS1p';
  src: url('./fonts/MPLUS1p-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'MPLUS1p';
  src: url('./fonts/MPLUS1p-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'MPLUS1p ';
  src: url('./fonts/MPLUS1p-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}